

@media screen and (min-width: 992px)
{
    #container
    {

    }

    #content-container
    {
       width:100%;
    }


    #title-wrapper h1{
        font-size:28px;
        font-family:'LubalinforIBMDemi', 'Roboto', 'Noto', sans-serif;
    }

    #title-wrapper p{
        font-size:18px;
    }

    #title-wrapper
    {
        width: 960px;
    }

    #content-container .bottom-city .bottom-wrapper
    {
        padding-top:5%;
    }

    .bottom-city-nav{
        padding-top:25%;
    }


}