
/*
main.css
Contains styles that apply to all pages and all screen sizes
Font styles, colors, etc
*/

@font-face {
    font-family: 'LubalinforIBMDemi';
    src: url('fonts/lubalinforibm-demi.eot'), url('fonts/lubalinforibm-demi.ttf') format('truetype'), url('fonts/lubalinforibm-demi.svg') format('svg'), url('fonts/lubalinforibm-demi.woff') format('woff');
    font-style: normal;
}

@font-face {
        font-family: 'LubalinforIBM';
        src: url('fonts/lubalingraphstd-book.eot'), url('fonts/lubalingraphstd-book.ttf') format('truetype'), url('fonts/lubalinforibm-demi.svg') format('svg'), url('fonts/lubalinforibm-demi.woff') format('woff');
        font-weight: normal;
        font-style: normal;
 }

html, body
{
    height: 100%;
}

body
{
	font-family:'LubalinforIBM', 'Roboto', 'Noto', sans-serif !important;
}


.hidden{
	display:none;
}

#masthead
{
    height: 30px;
    background: #464a50;
    color: #ffffff;
}

#home-link{
	background:#3b0256;
	padding:10px;
    z-index: 5000;
    position:absolute;
    width:100%;
}

#home-link a{
	color:#fff;
	text-decoration:none;
	font-size:1.5em;
	font-family:"HelvRegularIBM","Helvetica Neue",Arial,sans-serif;
}

.superscript-style{
	font-size:.5em;
}

#content-container{
    overflow: hidden;
    /*position: relative;*/
}

#container
{
    width: 100%;
    position: relative;
}

#container .clouds,
#container .city
{

}

#menu-container
{
	background:#7f1c7d;
    overflow: hidden;
}

#menu-container a{
	color:#eab726;
	text-decoration:none;
}

#menu-container > ul:hover .hidden,
#menu-container.active > ul .hidden {
    display: block;
}

ul>li:before, ol>li:before {
    display:none !important;
  }

li.menu-title{
	text-align:center;
	font-size:18px;
	padding-bottom:10px;
}

li.menu-title:nth-of-type(3){
	border-right:1px solid #eab726;
	border-left:1px solid #eab726;
}

li.sub-menu-list{
	text-align:center;
	font-size:18px;
	font-family:'LubalinforIBM', 'Roboto', 'Noto', sans-serif;
}

#menu-container li.sub-menu-title a {
	color:#ffffff;
}
#menu-container li.sub-menu-title a:hover {
	cursor: pointer;
}

hr{
	height: 1px;
	color: #eab726;
	background-color: #eab726;
	border: none;
	width:25%;
}

#title-wrapper,
#content-container .room-wrapper .text-content h2
{
	font-family:'LubalinforIBMDemi', 'Roboto', 'Noto', sans-serif;
}

#content-container .room-wrapper .text-content,
#content-container .room-wrapper .text-content h3,
#content-container .room-wrapper .text-content-mobile
{
	font-family:'LubalinforIBM', 'Roboto', 'Noto', sans-serif;
}

#title-wrapper p{
	font-family:'LubalinforIBM','Roboto', 'Noto', sans-serif;
}

#title-wrapper p.circles {
    margin: 10px;
    font-size: 2em;
    letter-spacing: .25em;
}


.building-overview .building-title
{
    color: #ffffff;
    font-size: 24px;
    font-family:'LubalinforIBMDemi', 'Roboto', 'Noto', sans-serif;
}

.scroll-building{
	height:300px;
	background-color:#6abce4;
}

.click-content{
	float:left;
	margin-top:13%;
}

span.clickpoint-icon {
    float: right;
}

span.close-button {
    font-size: 1.25em;
    font-family: 'LubalinforIBM', 'Roboto', 'Noto', sans-serif;
}

.healthcare-header,
.financial-header,
.financial-content,
.financial-content-small{
	color:#3b0256;
}

.financial-content,
.healthcare-content,
.retail-content{
	font-size:22px;
	font-family: 'LubalinforIBM', 'Roboto', 'Noto', sans-serif;
	float:left;
	clear:left;
}

p.healthcare-content-small,
p.financial-content-small,
p.retail-content-small {
    padding-bottom: 28px;
    font-family: 'LubalinforIBM', 'Roboto', 'Noto', sans-serif;
    float:left;
}

.financial-header,
.healthcare-header,
.retail-header{
	font-size:28px;
	line-height:34px;
	padding-top:18px;
	font-family: 'LubalinforIBMDemi', 'Roboto', 'Noto', sans-serif;
	/*float:left;
	clear:left;*/
}

.learn-more-button{
	/*background:#7f1c7d;*/
	padding:5px 15px;
	text-align:center;
	position: relative;
    /*bottom: 20px;*/
}

a.learn-more-button{
	font-family: 'LubalinforIBM', 'Roboto', 'Noto', sans-serif;
}

a:visited.learn-more-button{
	color:#ffffff;
}

.learn-more-button.hide {
	display: none;
}

.learn-more-button.show {
	display: block;
}

#social-icons{
	background:#3b0256;
	color:#ffffff;
	display:block;
	position: fixed;
    right: 0;
    bottom: 25px;
}


#social-icons img{
	padding:1px 10px;
	padding-top:12px;
	padding: 0px 10px;
}

span.share{
	font-family:"HelvRegularIBM","Helvetica Neue",Arial,sans-serif;
}



.hide-menu {
	display: none !important;
}



a.close:visited {
    color: #fff;
}
