

/*
No media query here, as this is the default
*/

@font-face {
    font-family: 'LubalinforIBMDemi';
    src: url('fonts/lubalinforibm-demi.eot'), url('fonts/lubalinforibm-demi.ttf') format('truetype'), url('fonts/lubalinforibm-demi.svg') format('svg'), url('fonts/lubalinforibm-demi.woff') format('woff');
    font-style: normal;
}

@font-face {
        font-family: 'LubalinforIBM';
        src: url('fonts/lubalingraphstd-book.eot'), url('fonts/lubalingraphstd-book.ttf') format('truetype'), url('fonts/lubalinforibm-demi.svg') format('svg'), url('fonts/lubalinforibm-demi.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

#container
{
    height: 100vh;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#75c6ed+0,2989d8+100,207cca+100,01659e+100 */
    background: #75c6ed; /* Old browsers */
    background: -moz-linear-gradient(top,  #75c6ed 0%, #2989d8 100%, #207cca 100%, #01659e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #75c6ed 0%,#2989d8 100%,#207cca 100%,#01659e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #75c6ed 0%,#2989d8 100%,#207cca 100%,#01659e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75c6ed', endColorstr='#01659e',GradientType=0 ); /* IE6-9 */
    overflow:hidden;
}

#container .clouds
    {
        background-color: transparent;
        background-image: url('../images/cloud_large.png');
        background-repeat: repeat;
        background-position: 0% 0%;

        height: 100%;
        width: 100%;

        animation: cloudslide 120s linear 0s 3;
    }
    @keyframes cloudslide
    {
        0% {background-position: 0px 0%;}
        100% {background-position: 1400px 0%;}
    }


#title-wrapper
{
    margin: 0 auto;
    text-align: center;
    padding: 54px 2px 13px;
    font-family:'LubalinforIBMDemi', 'Roboto', 'Noto', sans-serif;
}

#title-wrapper p{
    font-size:14px;
}

#title-wrapper p.circles {
    margin: -8px;
}

h1{
    padding: 6px 16px 0px;
 }

 .building-overview .building-title
{
        font-size: 20px;
}

#menu-container
{
    display:none;
}

/*#mobile-menu-container*/

.mobile-menu-button{
    background-color: #3b0256;
    color: #fff;
    padding: 16px 22px;
    width: 95px;
    height: 16px;
    position: fixed;
    bottom: 25px;
    font-family:'LubalinforIBM', 'Roboto', 'Noto', sans-serif;
    font-size:15px;
}

.expanded{
    padding: 0px;
    top: 94px;
    bottom: 0px;
    width: 100%;
    color: rgb(127, 28, 125);
    position: absolute;
    z-index: 9999;
    overflow: scroll;
    background-color: rgb(127, 28, 125);
    padding-top:20px;
}

#mobile-menu-container ul.menu-nav {
    display: none;
    background:#7f1c7d;
}

#mobile-menu-container span.close-button{
    padding-left:72%;
}

#mobile-menu-container a{
    color: #eab726;
    text-decoration: none;
    font-family:'LubalinforIBM', 'Roboto', 'Noto', sans-serif;
}

#mobile-menu-container .hidden{
    display: block;
}

#mobile-menu-container li.menu-title{
    padding:10px 0;
    border-top: 1px solid #eab726;
    font-size:34px;
    margin-top:9px;
}

li.menu-title:nth-of-type(3){
    border-left:none;
    border-right:none;
}

#mobile-menu-container ul>li, ol>li {
     padding-left: 0; 
}

#mobile-menu-container li.sub-menu-title a {
    color: #ffffff;
    font-size: 22px;
    line-height: 35px;
}

hr{
    width:100%;
}




#content-container .building-wrapper
{
    position: relative;
    margin: 0 auto;
    width: 100%;

    height: 100vh;
    padding: 0


}

#content-container .building-wrapper .building-background
{
    background-image: url('../images/repeatingroof.png');
    background-repeat: repeat-y;
    background-position: center 800px;
    background-size: contain;
    position: absolute;
    bottom: -1580px;
    height: 2000px;
    width: 100%;
    z-index: 998;
}

#content-container .building-wrapper .building-image
{
    position: absolute;
    bottom: 200px;
    background-color: transparent;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
    height: 100%;
    width: 100%;

    text-align: center;
    z-index: 999;
}

#content-container .bottom-city .bottom-wrapper
{
        background-color: transparent;
        background-image: none;
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size:cover !important;
        -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        -o-background-size: cover !important;
        width: 100%;
        margin: 0 auto;
        height: 100%;
        text-align: center;
        padding-top:0;
        position:absolute;
        bottom: 0px;
        margin-bottom:31px;
}

#content-container .room-wrapper
{

    position: absolute;
    top: 1000px;
    background-color: transparent;

    width: 100%;
    margin: 0 auto;
    height: 100%;
    position: relative;
    height: 100vh;
}

#content-container .room-wrapper .room-background
{
    background-image: url('../images/repeatingroof.png');
    background-repeat: repeat-y;
    background-position: center center;
    background-size: 100% auto;
    position: absolute;
    top: -1200px;
    height: 4000px;
    width: 100%;
    /*margin-left:63px;*/
}


#content-container .bottom-city .room-background
{
    background-image: url('../images/repeatingroof.png');
    background-repeat: repeat-y;
    background-position: center center;
    background-size: 100% auto;
    position: absolute;
    top: -1200px;
    height: 1200px;
    width: 67%;
    margin-left:17%;
}


#content-container .room-wrapper .room-image
{
    position: absolute;
    /*top: 0px;*/
    background-color: transparent;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom:50px;
}

#content-container .room-wrapper .inner-wrapper
{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;

}

#content-container .room-wrapper .text-content{
    display:none;
}

#content-container .room-wrapper .text-content-mobile h2 {
    color: #ffffff;
    font-size: 25px;
    line-height: 30px;
    display:inline;
    font-family:'LubalinforIBMDemi', 'Roboto', 'Noto', sans-serif;
}

/*a.info-button img {
    margin-bottom: -6px;
}*/

#content-container .room-wrapper .text-content-mobile {
    padding-top: 13px;
    top: 108px;
    position: absolute;
    text-align: center;
    width: 100%;
    opacity:1;
}


#content-container .room-wrapper .text-content-mobile h3 {
    color: #ffffff;
    font-size: 22px;
    line-height: 22px;
}

.info {
    width: 30px;
    height: 30px;
    display:inline;
    margin-top: 3px;
    /*margin-left:5px;*/
    background-repeat: no-repeat;
    cursor:pointer;
}

.info-content{
    display: none;
    position: absolute;
    width: auto;
    height: 354px;
    top:0;
    padding:15px;
    box-shadow: 1px 2px 5px 1px #5a5a5a;
    -webkit-box-shadow: 1px 2px 5px 1px #5a5a5a;
    -moz-box-shadow: 1px 2px 5px 1px #5a5a5a;
    -o-box-shadow: 1px 2px 5px 1px #5a5a5a;
    z-index:10;
}

span.info-content-text {
    height: auto;
    padding: 11px;
    float: left;
    text-align:left;
    font-size:17px;
}

.info-content-text h2 {
    font-size: 25px;
}

.info-content-text p{
    padding-top:3px;
    font-size: 21px;
}

.info-content-inner .close-button{
    float:right;
}


/**Clickpoint Styles**/
.clickpoints{
    display:none;
}

#content-container .room-wrapper .clickpoints{

}

#content-container .room-wrapper .mobile-clickpoints .clickpoint {
    position: absolute;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100px;
    height: 100px;
    cursor: pointer;
    /*
    -webkit-animation: bounce 1000ms 1s ease-out;
    -moz-animation: bounce 1000ms 1s ease-out;
    -o-animation: bounce 1000ms 1s ease-out;
    animation: bounce 1000ms 1s ease-out;
    */

    animation-name: bounce;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-easing: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    -webkit-animation-name: bounce;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 1.1s;
    -webkit-animation-easing: linear;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;

    opactiy: 0;
    top:37% !important;
}

#content-container .room-wrapper .mobile-clickpoints .clickpoint:nth-of-type(1) {
    left: 11% !important;
}

#content-container .room-wrapper .mobile-clickpoints .clickpoint:nth-of-type(3) {
    left: 37% !important;
}

#content-container .room-wrapper .mobile-clickpoints .clickpoint:nth-of-type(5) {
    left: 62%!important;
}

#content-container .room-wrapper .mobile-clickpoints .clickpoint-content
{
        display: none;
        position: absolute;
        color:#ffffff;
        width: auto;
        height: 92%;
        top:50px;
        padding:15px;
        box-shadow: 1px 2px 5px 1px #5a5a5a;
        -webkit-box-shadow: 1px 2px 5px 1px #5a5a5a;
        -moz-box-shadow: 1px 2px 5px 1px #5a5a5a;
        -o-box-shadow: 1px 2px 5px 1px #5a5a5a;
        z-index:10;
}

.clickpoint-content-inner
{
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    padding-top:50px;
}

#content-container .room-wrapper .mobile-clickpoints .clickpoint-content .close-button {
    cursor: pointer;
    width: 76px;
    height: 24px;
    color: #ffffff;
    position: absolute;
    right: 0px;
    top: 60px;
    display: block;
    padding: 0px;
}

.learn-more-button{
    bottom: 0px;
    float:left;
}


#buildings-container
{
        height: 400px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;

        padding-top: 10px;


        display: -webkit-box;      
        display: -moz-box;         
        display: -ms-flexbox;      
        display: -webkit-flex;  
}


#buildings-container .building-overview
{
        display: block;
        width: 360px;
        height: 100%;
        background-image: url('../images/healthcare/healthcare_building.png');
        background-repeat: no-repeat;
        background-position: center 100px;

        text-align: center;
        text-decoration: none;
}

#buildings-container .building-overview .building-icon
    {
       /* width: 120px;*/
        height: 120px;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-position: center;

    animation-name: bounce;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-easing: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    -webkit-animation-name: bounce;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 1.1s;
    -webkit-animation-easing: linear;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    }


a.up-arrow,
a.down-arrow
{
    display: block;
    width: 38px;
    height: 38px;
    /*background: green;*/
}
a.up-arrow{
    background:url('../images/up-arrow.png') no-repeat;
    position: fixed;
    top: 110px;
    margin-left: 44.5%;
}
a.down-arrow
{
    background:url('../images/down-arrow.png') no-repeat;
    position: fixed;
    bottom: 14%;
    margin-left: 44.5%;
    /*background: orange;*/
}

#social-icons {
    width: 154px;
    padding: 9px 0px 0px 4px;
}


/*Bottom City Styles*/

.bottom-city-nav{
    display:none;
}

#container .bottom-city
{
    background: transparent;
    background-image: url('../images/BuildingBottom_CityView.png');
    background-size:cover;
    background-position: bottom center;
    background-repeat:no-repeat;
        /*background-repeat: repeat-x;*/

    /*height: 100vh;*/
    height:100%;
    width: 100%;
    position:absolute;
    bottom:-1000px;
        /*overflow: hidden;*/
}


.bottom-city-nav-mobile .mobile-comic-btn {
    width: 100%;
    height: 95px;
    margin-top: 59%;
    position: absolute;
    color: #ffffff;
    padding: 1em 0 1em 0;
    opacity:.8;
    font-size: 20px;
    text-decoration:none;
}

.bottom-city-nav-mobile .mobile-comic-btn p{
    font-size:19px;
    font-family:'LubalinforIBM', 'Roboto', 'Noto', sans-serif;
}

.bottom-city-nav-mobile a.previous-building {
    width: 50%;
    height: 50px;
    margin-top: 101%;
    position: absolute;
    opacity:.8;
}

.bottom-city-nav-mobile a.next-building {
    width: 50%;
    height: 50px;
    margin-top: 101%;
    position: absolute;
    display:inline;
    opacity:.8;
}

.bottom-city-nav-mobile a.previous-building img,
.bottom-city-nav-mobile a.next-building img{
    width:auto;
    height:75%;
    display:inline;
    margin-left:-10px;
    margin-top: 5px;
}

.bottom-city-nav-mobile a.previous-building p,
.bottom-city-nav-mobile a.next-building p{
    float: right;
    text-align: left;
    font-size: 19px;
    padding-right: 5%;
    font-family:'LubalinforIBM', 'Roboto', 'Noto', sans-serif;
}


a.previous-building,
a.next-building
{
    display: block;
    width: 146px;
    height: 120px;
    color:#ffffff;
    padding-top:4%;
    padding-bottom:4%;
    font-size: 20px;
    line-height: 28px;
}

.mobile-comic-btn{
    display:block;
    width:190px;
    height:224px;
}

.comicModal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    display:none;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    overflow:scroll;
}

.comicModal img{
    width:100%;
}

.mobile-close {
    background: #7f1c7d;
    color: #FFFFFF;
    line-height: 25px;
    position: fixed;
    text-align: center;
    width: 85px;
    text-decoration: none;
    right:1%;
    padding-top:2px;
}

.mobile-close img {
    width: auto;
    padding-top: 3px;
}

a.mobile-close:visited{
    color:#ffffff;
    text-decoration:none;
}


a:visited.previous-building,
a:visited.next-building
{
    display: block;
    width: 146px;
    height: 120px;
    color:#ffffff;
}

#comic{
        position: static;
        margin: 0 auto;
        width: 100%;
        max-height: 100vh;
        overflow: scroll;
    }


@keyframes bounce {

    0% {
        transform:translateY(0);
        opacity: 0;
    }
    20%, 50%, 80%, 100% {
        transform:translateY(0);
        opacity: 1;
    }
    40% {
        transform:translateY(-30px);
    }
    60% {
        transform:translateY(-15px);
    }



}

/* Webkit, Chrome and Safari */

@-webkit-keyframes bounce {
    0% {
        transform:translateY(0);
        opacity: 0;
    }
    20%, 50%, 80%, 100% {
        transform:translateY(0);
        opacity: 1;
    }
    40% {
        transform:translateY(-30px);
    }
    60% {
        transform:translateY(-15px);
    }
}


/*Styles for landscape*/
@media (min-width: 568px){
    #mobile-menu-container {
        bottom: 3px;
    }

    #buildings-container .building-overview {
        height: 111%;
        background-position: center 100px;
    }

    #buildings-container .building-overview .building-icon {
        width: 65px;
        height: 65px;

        background-size: cover;
    }

    #social-icons,
    .mobile-menu-button {
        bottom: 3px;
        z-index:100;
    }

    #title-wrapper{
        padding: 0;
    }

    h1{
        padding: 0;
    }

    #title-wrapper p{
        padding: 0px 0px 9px 0px;
        line-height: 19px;
    }

    #title-wrapper p.circles {
        margin: -11px;
        display:none;
    }

    a.down-arrow {
        bottom: 2%;
        margin-left: 47.5%;
    }

    a.up-arrow{
        top:97px;
        margin-left:47.5%;
    }

    .bottom-city-nav-mobile {
        margin-top: 17px;
    }

    #content-container .room-wrapper .text-content-mobile {
        padding-top: 13px;
        top: 83px;
    }

    #content-container .room-wrapper .text-content-mobile h3{
        display:none;
    }

    #content-container .room-wrapper .mobile-clickpoints .clickpoint{
        top: 40% !important;
    }



    #content-container .room-wrapper .mobile-clickpoints .clickpoint:nth-of-type(3) {
        left: 42% !important;
    }

    #content-container .room-wrapper .mobile-clickpoints .clickpoint:nth-of-type(5) {
        left: 75%!important;
    }

    #content-container .bottom-city .room-background
    {
        top: -1007px;
        width: 66%;
        margin-left: 97px;
    }

    #content-container .bottom-city .bottom-wrapper{
        margin-bottom:-43px;
    }

    .bottom-city-nav-mobile .mobile-comic-btn {
        height: 61px;
        padding-top: .75em;
        margin-top:8%;
        width:46%;
    }
    .mobile-comic-btn img {
        height: 50%;
    }

    .bottom-city-nav-mobile a.previous-building {
        height: 21px;
        margin-top: 24.75%;
    }

    .bottom-city-nav-mobile a.next-building {
        height: 21px;
        margin-top: 24.75%;
    }

    a.previous-building, a.next-building {
        padding-top: 2%;
        padding-bottom: 5%;
    }

    .bottom-city-nav-mobile a.previous-building p, .bottom-city-nav-mobile a.next-building p {
        padding-right: 34%;
    }

}
