
@media screen and (min-width: 768px)
{

    @font-face {
        font-family: 'LubalinforIBMDemi';
        src: url('fonts/lubalinforibm-demi.eot'), url('fonts/lubalinforibm-demi.ttf') format('truetype'), url('fonts/lubalinforibm-demi.svg') format('svg'), url('fonts/lubalinforibm-demi.woff') format('woff');
        font-style: normal;
    }

    @font-face {
        font-family: 'LubalinforIBM';
        src: url('fonts/lubalingraphstd-book.eot'), url('fonts/lubalingraphstd-book.ttf') format('truetype'), url('fonts/lubalinforibm-demi.svg') format('svg'), url('fonts/lubalinforibm-demi.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    h1
    {
        font-size: 28px;
        line-height: 36px;
        padding: 0 0 13px;
    }

    hr{
        width:25%;
    }

    #menu-container
    {
        border-top:1px solid #eab726;
        border-bottom:1px solid #eab726;
        display:block;
        position: absolute;
        width: 100%;
        z-index: 1000;
        font-family:'LubalinforIBMDemi', 'Roboto', 'Noto', sans-serif;
        top:96px;
    }
    #menu-container > ul
    {
        width: 100%;
    }
    #menu-container > ul > li
    {
        float: left;
        width:33%;
        box-sizing: border-box;
    }
    #menu-container > ul > li > ul > li
    {
        /*float: left;*/
        padding-left:0;
    }

    li.menu-title:nth-of-type(3){
        border-right:1px solid #eab726;
        border-left:1px solid #eab726;
    }

    .building-overview .building-title
    {
        font-size: 24px;
    }

    #mobile-menu-container,
    #menu-container .close-button
    {
        display:none !important;
    }

    .mobile-menu-button{
        display:none !important;
    }

    #title-wrapper
    {
        width: 680px;
        margin-top: 80px;
        padding: 15px 13px;
    }

    #title-wrapper h1{
        padding-top:8px;
    }

    #title-wrapper p
    {
        margin-top: 16px;
        padding: 0 0 15px;
        line-height: 1.625rem;
    }

    #title-wrapper p.circles {
        margin: 3px;
        display:block;
    }
    
    #container
    {
        overflow: hidden;
    }

    #container .clouds
    {
        background-color: transparent;
        background-image: url('../images/cloud_large.png');
        background-repeat: repeat;
        background-position: 0% 0%;

        height: 100%;
        width: 100%;

        animation: cloudslide 120s linear 0s 3;
    }
    @keyframes cloudslide
    {
        0% {background-position: 0px 0%;}
        100% {background-position: 1400px 0%;}
    }
    
    #container .city
    {
        background: transparent;
        background-image: url('../images/CityView.png');
        background-position: bottom center;
        background-repeat: repeat-x;

        height: 100%;
        width: 100%;
        overflow: hidden;
    }


    #buildings-container
    {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;

        padding-top: 10px;
    }


    #buildings-container .building-overview
    {
        display: block;
        width: 360px;
        height: 100%;
        background-image: url('../images/healthcare/healthcare_building.png');
        background-repeat: no-repeat;
        background-position: center 100px;

        text-align: center;
        text-decoration: none;
    }

    #buildings-container .building-overview .building-icon
    {
        width: 120px;
        height: 120px;
        margin: 0 auto;
        background-size:initial;

        animation-name: bounce;
        animation-duration: 2s;
        animation-delay: 1s;
        animation-easing: linear;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;

        -webkit-animation-name: bounce;
        -webkit-animation-duration: 2s;
        -webkit-animation-delay: 1.1s;
        -webkit-animation-easing: linear;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-fill-mode: forwards;
    }

    #content-container
    {
        height: 100%;
    }

    #content-container .building-wrapper
    {

        width: 100%;
        margin: 0 auto;
        height: 100%;
        padding-top: 100px;
    }

    #content-container .bottom-city .bottom-wrapper{
        background-size: auto !important;
        -webkit-background-size: auto !important;
        -moz-background-size: auto !important;
        -o-background-size: auto !important;
    }

    #content-container .building-wrapper .building-image,
    #content-container .building-wrapper .building-background,
    #content-container .room-wrapper .room-image,
    #content-container .room-wrapper .room-background
    {
        background-position: center bottom;
        background-size:744px auto;
    }

    #content-container .bottom-city .room-background{
        background-position: center bottom;
        background-size:501px auto;
        width:100%;
        margin-left:0;

    }

    #content-container .room-wrapper .room-background{
        margin-left:0;
        width:100%;
    }

    #content-container .bottom-city .bottom-building
    {
        background-position: center bottom;
        background-size:507px auto;
        margin-bottom:0;
    }

    #content-container .room-wrapper .room-image
    {
        background-position: center -190px;
        background-size:744px auto;
        padding-top: 0px;
        bottom: 0;
    }

    #content-container .room-wrapper .inner-wrapper
    {
        width: 560px;
        padding-top: 100px;
    }

    #content-container .room-wrapper .text-content
    {
        padding-top: 44px;
        padding-left: 27px;
        padding-right: 0;
        background-color:transparent;
        text-align:left;
        width:300px;
        display:block;
    }

    #content-container .room-wrapper .text-content h2
    {
        color: #ffffff;
        font-size: 27px;
        line-height: 35px;
        display:inline;
    }

    #content-container .room-wrapper .text-content .info-content-text h2{
        font-size:30px;
        line-height:34px;
    }

    #content-container .room-wrapper .text-content .info-content-text p{
        font-size:22px;
        padding-top:15px;
    }

    #content-container .room-wrapper .text-content h3
    {
        color: #ffffff;
        font-size: 22px;
        line-height: 24px;
        /*float:left;*/
    }

    #content-container .room-wrapper .text-content-mobile
    {
        display:none;
    }

   /* .info {
        margin-top: 3px;
        margin-left:5px;
        float:right;
    }*/

    .info-content{
        display: none;
        position: absolute;
        color:#ffffff;
        width: 400px;
        height: auto;
        left: 80px;
        top: 13%;
        padding:15px;
        box-shadow: 1px 2px 5px 1px #5a5a5a;
        -webkit-box-shadow: 1px 2px 5px 1px #5a5a5a;
        -moz-box-shadow: 1px 2px 5px 1px #5a5a5a;
        -o-box-shadow: 1px 2px 5px 1px #5a5a5a;
        z-index:10;
    }

    span.info-content-text {
        padding: 20px;
        font-size:20px;
   }

   .info-content-inner .close-button{
        font-size:19px;
        cursor:pointer;
    }

    #content-container .room-wrapper .clickpoints
    {

    }

    .clickpoints{
        display:block;
    }
    .mobile-clickpoints{
        display:none;
    }

    #content-container .room-wrapper .clickpoints .clickpoint
    {
        position: absolute;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center center;
        width: 120px;
        height: 120px;
        cursor: pointer;

        /*
        -webkit-animation: bounce 1000ms 1s 1 ease-out;
        -moz-animation: bounce 1000ms 1s 1 ease-out;
        -o-animation: bounce 1000ms 1s 1 ease-out;
        animation: bounce 1000ms 1s 1 linear;
        */

        animation-name: bounce;
        animation-duration: 2s;
        animation-delay: 1.1s;
        animation-easing: linear;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;

        -webkit-animation-name: bounce;
        -webkit-animation-duration: 2s;
        -webkit-animation-delay: 1.1s;
        -webkit-animation-easing: linear;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-fill-mode: forwards;

        opacity: 0;
    }

    #content-container .room-wrapper .clickpoints .clickpoint-content
    {
        display: none;
        position: absolute;
        color:#ffffff;
        width: 405px;
        /*height: 350px;*/
        left: 80px;
        top: 13%;
        padding:15px;
        box-shadow: 1px 2px 5px 1px #5a5a5a;
        -webkit-box-shadow: 1px 2px 5px 1px #5a5a5a;
        -moz-box-shadow: 1px 2px 5px 1px #5a5a5a;
        -o-box-shadow: 1px 2px 5px 1px #5a5a5a;
        z-index:10;
    }

    .clickpoint-content-inner{
        padding-top:0;
    }

    #content-container .room-wrapper .clickpoints .clickpoint-content .close-button
    {
        cursor: pointer;
        width: 76px;
        height: 24px;
        color:#ffffff;
        position: absolute;
        right: 0px;
        top: 0px;
        display: block;
        padding:1px;
    }

    .retail-header:nth-of-type(2) {
        padding-top: 46px;
    }

    .learn-more-button{
        bottom: 10px;
    }

    .bottom-city-nav-mobile{
        display:none;
    }
    .bottom-city-nav{
        display:block;
        width: 768px;
        padding-top: 60%;
        margin:-60px auto;

    }

    #container .bottom-city
    {
        background: transparent;
        background-image: url('../images/BuildingBottom_CityView.png');
        background-size:cover;
        background-position: bottom center;
        background-repeat:no-repeat;
        height: 100%;
        width: 100%;
        /*overflow: hidden;*/
    }

    /*#content-container .bottom-city .bottom-wrapper
    {
        height:auto;
    }*/


    #social-icons {
        width: 210px;
        padding: 9px 2px 1px 12px;
        bottom:30px;
    }

    a.up-arrow{
         margin-left: 49%;
         top:150px;
    }

    a.down-arrow
    {
        margin-left: 49%;
    }

    .comic-btn{
        float: left;
        margin-top: 15%;
    }

    a.previous-building,
    a.next-building
    {
       background-repeat: no-repeat;
       margin-top: 15%;
       font-size:26px;
       line-height:34px;
       padding-top:15%;
       width:224px;
    }

    a.previous-building{
        float:left;
        position: relative;
    }

    a.next-building{
        float:right;
        position:relative;
    }

    p.bullets {
        color: white;
        letter-spacing: .1em;
        float:left;
        margin-top:25%;
    }

    p.bullets2 {
        color: white;
        letter-spacing: .1em;
        float:left;
        margin-top:25%;
    }

    .comic-btn{
        display:block;
        width:190px;
        height:224px;
    }

    .comicModal {
        background: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: 0;
        transition: opacity 400ms ease-in;
        right: 0;
        z-index: 99999;

        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
    }

    .comicModal img {
        display: inline-block;
        width: auto;
    }

    .comicModal-close-wrapper {
        display: block;
        position: fixed;
        right: 0;
        top: 0;
        /*z-index: 99999;*/
    }

    .comicModal-comic-wrapper {
        margin: 84px auto 0 auto;
        position: absolute;
        width: 100%;
    }

    .comicModal-comic-wrapper > img {
        height: auto;
        position: relative;
        z-index: 10;
        overflow:scroll;
    }

    /* .comicModal img {
        width: auto;
    } */

    .comicModal:target {
        opacity:1;
        pointer-events: auto;
        overflow:scroll;
    }

    .close {
        background: #7f1c7d;
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        text-align: center;
        width: 85px;
        text-decoration: none;
        right: 0;
        padding-top: 2px;
        z-index: 99999;
    }

    #comic {
        position: static;
        margin: 0 auto;
        width: 940px;
        max-height: 100vh;
        overflow: scroll;
    }



}