<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="css/reset.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/phone.css" rel="stylesheet">
    <link href="css/tablet.css" rel="stylesheet">
    <link href="css/desktop.css" rel="stylesheet">
    <link href="http://1.www.s81c.com/common/v18/css/www.css" rel="stylesheet">
    <script src="js/lib/modernizr.custom.min.js" charset="utf-8"></script>
</head>

<body>
    <div id="container">
        <!--<div id="masthead">IBM</div>-->
        <!-- MASTHEAD_BEGIN -->
        <div id="ibm-masthead" role="banner" aria-label="IBM">
            <div id="ibm-mast-options">
                <ul role="toolbar" aria-labelledby="ibm-masthead">
                    <li id="ibm-geo" role="presentation"><a href="http://www.ibm.com/planetwide/select/selector.html" role="button" aria-label="United states selected - Choose a country">United States</a>
                    </li>
                </ul>
            </div>
            <div id="ibm-universal-nav">
                <nav role="navigation" aria-label="IBM">
                    <div id="ibm-home"><a href="http://www.ibm.com/us/en/">IBM&reg;</a></div>
                    <ul id="ibm-menu-links" role="toolbar" aria-label="Site map">
                        <li><a href="http://www.ibm.com/sitemap/us/en/">Site map</a></li>
                    </ul>
                </nav>
                <div id="ibm-search-module" role="search" aria-labelledby="ibm-masthead">
                    <form id="ibm-search-form" action="http://www.ibm.com/Search/" method="get">
                        <p>
                            <label for="q">IBM</label>
                            <input type="text" maxlength="100" value="" placeholder="Search" name="q" id="q" aria-label="Search" />
                            <input type="hidden" value="18" name="v" />
                            <input type="hidden" value="utf" name="en" />
                            <input type="hidden" value="en" name="lang" />
                            <input type="hidden" value="us" name="cc" />
                            <input type="submit" id="ibm-search" class="ibm-btn-search" value="Submit" />
                        </p>
                    </form>
                </div>
            </div>
        </div>
        <!-- #ibm-masthead END -->
        <div id="home-link">
            <a href="#/">IBM FlashSystem<sup class="superscript-style">&reg;</sup> World</a>
        </div>
        <div id="menu-container"></div>
        <div class="clouds">
            <div id="content-container"></div>
            <div id="mobile-menu-container" class="not-expanded"></div>
        </div>
    </div>
    <script src="js/lib/jquery-2.2.0.min.js"></script>
    <script src="js/lib/director.min.js"></script>
    <script src="js/lib/handlebars-v4.0.5.js"></script>
    <script src="js/content.js"></script>
    <script src="js/app.js"></script>
    <script id="building-template" type="text/x-handlebars-template">
        <div class="building-wrapper">
            <div class="building-background"></div>
            <div class="building-image" style="background-image: url('images/{{images.roof}}');">
                <h1 class="industry-name hidden">{{name}}</h1>
                <div class="description">{{{description}}}</div>
                <a class="down-arrow link" href="#/building/{{path}}/{{firstRoom}}"></a>
            </div>
        </div>
    </script>
    <script id="building-bottom-template" type="text/x-handlebars-template">
        <div class="bottom-city">
            <div class="room-background"></div>
            <div class="bottom-wrapper bottom-building" style="background-image: url('images/{{images.base}}'); background-position:bottom; background-size:auto;">
                <a class="up-arrow link" href="#/building/{{path}}/{{lastRoom}}"></a>
                <div class="bottom-city-nav">
                    <a class="previous-building" href="#/building/{{previousBuilding}}" style="background-image: url('images/{{previousBuildingIcon}}'); background-repeat: no-repeat"></a>
                    <p class="bullets">&bull; &bull; &bull; &bull;</p>
                    <!--<a class="comic-btn" href="#openComic" style="background-image: url('images/{{comic}}'); background-repeat:no-repeat"></a>-->
                    <div class="comic-btn" style="background-image: url('images/{{comic}}'); background-repeat:no-repeat"></div>
                    <div id="openComic" class="comicModal">
                        <div class="comicModal-comic-wrapper">
                            <img src="images/{{comicImg}}" alt="Comic">
                        </div>
                        <div class="comicModal-close-wrapper">
                            <a href="#/building/{{path}}/bottom" title="Close" class="close"><img src="images/CloseWhite.png" alt="close"> Close</a>
                        </div>
                    </div>
                    <p class="bullets2">&bull; &bull; &bull; &bull;</p>
                    <a class="next-building" href="#/building/{{nextBuilding}}" style="background-image: url('images/{{nextBuildingIcon}}'); background-repeat: no-repeat"></a>
                </div>
                <div class="bottom-city-nav-mobile">
                    <div class="mobile-comic-btn" style="background-color: {{themeColor}}"><img src="images/comicBook.png" alt="Comic">
                        <p>Read the Comic Book</p>
                    </div>
                    <div id="openComic" class="comicModal">
                        <a href="#/building/{{path}}/bottom" title="Close" class="mobile-close"><img src="images/CloseWhite.png" alt="close"> Close</a>
                        <img src="images/{{comicImg}}" alt="Comic">
                    </div>
                    <a class="previous-building" href="#/building/{{previousBuilding}}" style="background-color: {{previousBuildingColor}}"><img src="images/{{images.prevIcon}}" alt="Icon">
                        <p>Explore
                            <br/>{{previousBuildingName}}</p>
                    </a>
                    <a class="next-building" href="#/building/{{nextBuilding}}" style="background-color:{{nextBuildingColor}} "><img src="images/{{images.nextIcon}}" alt="Icon">
                        <p>Explore
                            <br/>{{nextBuildingName}}</p>
                    </a>
                </div>
                <div id="social-icons">
                    <span class="share">Share:</span>
                    <a href="http://hrefshare.com/a51c" target="_blank"><img src="images/TwitterIcon.png" alt="twitter"></a>
                    <span class="share">|</span>
                    <a href="http://hrefshare.com/c823" target="_blank"><img src="images/facebookIcon.png" alt="facebook"></a>
                    </p>
                </div>
            </div>
        </div>
    </script>
    <script id="room-template" type="text/x-handlebars-template">
        <div class="room-wrapper" id="room">
            <div class="room-background"></div>
            <div class="room-image" style="background-image: url('images/{{images.room}}');">
                <div class="inner-wrapper">
                    <div class="text-content">
                        <h2>{{title}}<div onclick="app.openInfoContent()" class="info"><img src="images/info-button.png"></div></h2>
                        <div class="info-content hidden" id="infoId" style="background-color:{{themeColor}};">
                            <div class="info-content-inner">
                                <div class="close-button" onclick="app.closeInfoContent()" style="color:{{closeColor}};"><img src="images/{{closeX}}"> Close</div>
                                <span class="info-content-text" style="color:{{closeColor}};"><h2 id="info-h2" style="color:{{closeColor}};">{{title}}</h2><p>{{{description}}}</p></span>
                            </div>
                        </div>
                        <h3>{{{subtitle}}}</h3>
                    </div>
                    <div class="text-content-mobile" style="background-color: {{themeColorMobile}}">
                        <h2>{{title}} <div onclick="app.openInfoContent()" class="info"><img src="images/info-button.png"></div></h2>
                        <div class="info-content hidden" id="infoId" style="background-color:{{themeColor}};">
                            <div class="info-content-inner">
                                <span class="close-button" onclick="app.closeInfoContent()" style="color:{{closeColor}};"><img src="images/{{closeX}}"> Close</span>
                                <span class="info-content-text" style="color:{{closeColor}};"><h2 id="info-h2" style="color:{{closeColor}};">{{title}}</h2> <p>{{{description}}}</p></span>
                            </div>
                        </div>
                        <h3>{{{subtitle}}}</h3>
                    </div>
                    <div class="clickpoints">
                        {{{clickpoints}}}
                    </div>
                    <div class="mobile-clickpoints">
                        {{{clickpoints}}}
                    </div>
                    <div id="social-icons">
                        <span class="share">Share:</span>
                        <a href="{{twitterLink}}" target="_blank"><img src="images/TwitterIcon.png" alt="twitter" /></a>
                        <span class="share">|</span>
                        <a href="{{facebookLink}}" target="_blank"><img src="images/facebookIcon.png" alt="facebook" /></a>
                        </p>
                    </div>
                </div>
                {{#if previousRoom}} {{!--Check for 0 vs null value --}}
                <a class="up-arrow link" href="#/building/{{parentPath}}/{{previousRoom}}"></a>
                {{else}}
                <!-- <a class="up-arrow link" href="#/building/{{parentPath}}"></a>-->
                {{/if}} {{#if nextRoom}}
                <a class="down-arrow link" href="#/building/{{parentPath}}/{{nextRoom}}"></a>
                {{else}}
                <a class="down-arrow link" href="#/building/{{parentPath}}/bottom"></a>
                {{/if}}
            </div>
        </div>
    </script>
    <script id="clickpoint-template" type="text/x-handlebars-template">
        <div onclick="app.openClickpointContent('clickpoint-{{id}}')" class="clickpoint" style="top: {{y}}px; left: {{x}}px; background-image: url('images/{{icon}}');"></div>
        <div class="clickpoint-content" id="clickpoint-{{id}}" style="background-color:{{themeColor}};">
            <div class="clickpoint-content-inner">
                <span class="close-button" onclick="app.closeClickpointContent('clickpoint-{{id}}')" style="color:{{closeColor}};"><img src="images/{{closeX}}" alt="close"> Close</span>
                <span class="click-content"><span class="clickpoint-icon"><img src="images/{{{clickIcon}}}" alt="icon"></span>{{{content}}}</span>
                <a href="{{url}}" target="_blank" class="learn-more-button {{learnMoreClass}}" style="color:{{learnMoreText}};background-color:{{learnMoreColor}};">Learn More</a>
            </div>
        </div>
    </script>
    <script id="menu-template" type="text/x-handlebars-template">
        <div class="mobile-menu-button">All Industries</div>
        <ul class="menu-nav" id="menu-nav">
            <li><span class="close-button" onClick="window.location.reload()" style="color:#ffffff">X Close</span></li>
            {{#each menuItems}}
            <li class="menu-title">
                <a href="javascript: void(0)">{{title}}</a>
                <ul class="sub-menu-list hidden">
                    <hr> {{#each subMenuItems}}
                    <li class="sub-menu-title"><a href="{{path}}">{{title}}</a></li>
                    {{/each}}
                </ul>
            </li>
            {{/each}}
        </ul>
    </script>
</body>

</html>
