<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>IBM FlashSystem World</title>

         <link href="http://1.www.s81c.com/common/v18/css/www.css" rel="stylesheet">

        <link href="css/reset.css" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet">
        <link href="css/phone.css" rel="stylesheet">
        <link href="css/tablet.css" rel="stylesheet">
        <link href="css/desktop.css" rel="stylesheet">

         <link href="http://1.www.s81c.com/common/v18/css/www.css" rel="stylesheet">

         <script src="js/lib/modernizr.custom.min.js" charset="utf-8"></script>

    </head>

    <body>



        <div id="container">

            <!--<div id="masthead">IBM</div>-->

            <!-- MASTHEAD_BEGIN -->
    <div id="ibm-masthead" role="banner" aria-label="IBM">

        <div id="ibm-mast-options">
            <ul role="toolbar" aria-labelledby="ibm-masthead">
                <li id="ibm-geo" role="presentation"><a href="http://www.ibm.com/planetwide/select/selector.html" role="button" aria-label="United states selected - Choose a country">United States</a>
                </li>
            </ul>
        </div>

        <div id="ibm-universal-nav">
            <nav role="navigation" aria-label="IBM">
                <div id="ibm-home"><a href="http://www.ibm.com/us/en/">IBM&reg;</a></div>
                <ul id="ibm-menu-links" role="toolbar" aria-label="Site map">
                    <li><a href="http://www.ibm.com/sitemap/us/en/">Site map</a></li>
                </ul>
            </nav>
            <div id="ibm-search-module" role="search" aria-labelledby="ibm-masthead">
                <form id="ibm-search-form" action="http://www.ibm.com/Search/" method="get">
                 <p>
                        <label for="q">IBM</label>
                     <input type="text" maxlength="100" value="" placeholder="Search" name="q" id="q" aria-label="Search" />
                     <input type="hidden" value="18" name="v" />
                        <input type="hidden" value="utf" name="en" />
                        <input type="hidden" value="en" name="lang" />
                        <input type="hidden" value="us" name="cc" />
                        <input type="submit" id="ibm-search" class="ibm-btn-search" value="Submit" />
                    </p>
                </form>
            </div>
        </div>

    </div><!-- #ibm-masthead END -->

           <div id="home-link">
                 <a href="#/">IBM FlashSystem<sup class="superscript-style">&reg;</sup> World</a>
            </div>

            <div id="menu-container"></div>

            <div class="clouds">
                <div class="city">

                    <div id="title-wrapper">
                        <h1>When speed, efficiency and reliability are critical, rely on IBM FlashSystem.</h1>
                        <p class="circles">&bull; &bull; &bull; &bull; &bull;</p>
                        <p>Select an industry and discover the value of<br/> high-performance storage.</p>
                    </div>

                    <div id="mobile-menu-container" class="not-expanded"></div>
                    <div id="social-icons">
                        <span class="share">Share:</span>
                        <a href="http://hrefshare.com/a51c" target="_blank"><img src="images/TwitterIcon.png" alt="twitter"></a>
                        <span class="share">|</span>
                        <a href="http://hrefshare.com/c823" target="_blank"><img src="images/facebookIcon.png" alt="facebook"></a></p>
                    </div>

                    <div id="buildings-container"></div>

                </div>
            </div>

        </div>



        <script src="js/lib/jquery-2.2.0.min.js"></script>
        <script src="js/lib/director.min.js"></script>
        <script src="js/lib/handlebars-v4.0.5.js"></script>

        <script src="js/content.js"></script>
        <script src="js/app.js"></script>

        <script id="menu-template" type="text/x-handlebars-template">

            <div class="mobile-menu-button">All Industries</div>

            <ul class="menu-nav" id="menu-nav">
                    <li><span class="close-button" onClick="window.location.reload()" style="color:#ffffff">X Close</span></li>
                {{#each menuItems}}
                    <li class="menu-title">
                        <a href="javascript: void(0)">{{title}}</a>
                        <ul class="sub-menu-list hidden">
                             <hr>
                            {{#each subMenuItems}}
                                <li class="sub-menu-title hidden"><a href="{{path}}">{{title}}</a></li>
                            {{/each}}
                        </ul>
                    </li>
                {{/each}}
            </ul>
        </script>

        <script id="building-menu-template" type="text/x-handlebars-template">
            <a class="building-overview" href="#/building/{{path}}" style="background-image: url('images/{{images.building}}');">
                <div class="building-title">{{name}}</div>
                <div class="building-icon" style="background-image: url('images/{{images.icon}}');"></div>
            </a>
        </script>
    </body>
</html>
